// Define variables for your color scheme

// For example:
$red: #FF4E4E; //edited for our color scheme
$blue: #0D6EFD;
$yellow: #FFC65A;
$light-gray: #F4F4F4;
$orange: #FFCC15; // edited for our color scheme
$green: #6CD73A; //edited for our color scheme
$gray: #949494; // edited for our color scheme
$black: #333333; // edited for our color scheme
$white: #FFFFFF; // edited for our color scheme
$light-red: #FFD6D6; // edited for our color scheme
$light-yellow: #FFF1D6; // edited for our color scheme
