<p><strong>Station Details<strong></p>
<ul class="list-group">
  <% @stations.each do |station| %>
    <li class="list-group-item"><%= stations.content %></li>
  <% end %>
</ul>
<%= link_to "Back to Stations", stations_path,  class: "btn btn-flat" %>




# adicionar mapa
# info.
