<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1607092272556-1049d106896a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
  <div class="container">
    <p class="h1">MyFuel.pt</p>
    <div class="col-6" style="margin-left: 100px;">
      <p class="h2">Check best fuel prices with your discounts!</p>
    </div>
    <div class="col" style="margin-left: 120px;">
    <% if user_signed_in? == false %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-flat link-call-to-action" %>
      <p class="h2">Hello <%= @current_user.first_name  %></p>
    <% end %>
      <%= link_to "Check Prices", stations_fuel_types_path, class: "btn btn-flat link-call-to-action" %>
    </div>
  </div>
</div>


<%# link imagem do figma: %>
<%# https://images.unsplash.com/photo-1607092272556-1049d106896a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 %>
