<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1607092272556-1049d106896a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);">
  <div class="container">
    <h1>MyFuel.pt</h1>
      <%= link_to "Login", new_user_session_path, class: "btn btn-flat" %>
      <%= link_to "Stations", stations_fuel_types_path, class: "btn btn-flat" %>
  </div>
</div>


<%# link imagem do figma: %>
<%# https://images.unsplash.com/photo-1607092272556-1049d106896a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 %>
