.container {
  width: 95%;
  height: 200px;
  padding: 10px 0;
  // margin: 0 auto;
  // align-items: center;
}

// backup para utilizar no container do gasóleo
.banner-container {
  width: 350px;
  height: 200px;
  padding: 150px 0;
  margin: 0 auto;
  align-items: center;
}

.banner {
  background-position: center;
  background: fixed;
  height: 100vh;
  margin-top: -5px;
  overflow: hidden;
}

.banner h1 {
  text-align: center;
  font-style: normal;
  font-family: "Titillium Web";
  font-size: 64px;
  font-weight: 700px;
  margin: 0;
  color:grey;
  align-items: center;
  margin-top: 20px;
}

.banner h2 {
  font-style: normal;
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 600px;
  margin-top: 630px;
  margin-right: 120px;
  text-align: center;
  align-items: center;
  // margin-left: 200px;
  color:grey;
}
