.btn-flat {
  align-items: center;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: 255, 78, 78;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background:255, 78, 78;
  color: white;
}
