.btn-flat {
  align-items: center;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF4E4E;
  transition: background 0.3s ease;


}

.btn-flat:hover {
  background: #FF4E4E;
  color: white;
}
