.btn-flat {
  align-items: center;
  // color: white; //do not add or station cards text will be white
  padding: 8px 24px;
  border-radius: 4px;
  background: 255, 78, 78;
  transition: 0.3s ease;
}

.active {
  background-color:#333333 !important;
  color: white !important;
  border-radius: 4px;
}

.plus-button{
  background-color: $red;
  border-color: $red;
}
