.card-station {
  width: auto;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 10px;
  margin: 15px ;
}

.card-vehicles {
  width: auto;
  height: 70px;
  // left: 24px;
  // top: 402px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-discount {
  // overflow: hidden;
  width: auto;
  height: 70px;
  left: 24px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px ;
}

.card-button-stations{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0px;
  text-decoration: none;
  color: #838383;
}

.price-movimenteness p{
  font-size: 12px;
  text-align: center;
}

.green-box {
  background-color: #B4FF9F;
  color: #82CD47;
}

.yellow-box {
  background-color: #f7f9886b;
  color: rgb(247, 247, 4);
}

.red-box {
  background-color: rgba(255, 0, 0, 0.507);
  color: red;
}

.box-sizing {
  width: 105px;
  border-radius: 25%;
}

#new_vehicle_btn{
  font-size: 2rem;
}


// .fa-solid_fa-circle-plus{
//   color: #5F6265;
// }
