.h1 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  }

.h2 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  }

.h3 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  }

.text {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  }

.details {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  }

.link-call-to-action {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  background-color: #FF4E4E;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  }

// .h6 {
//   font-family: 'Titillium Web';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 8px;
//   line-height: 12px;
//   }
